/* This file is for your main application css. */

@import "./phoenix.css";

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.state {
  overflow: hidden;
  border: 1px black dashed;
  padding: 10px;
}

.state .state-resources {
  float: left;
}

.state .state-modifiers {
  float: left;
  margin-left: 50px;
}

.state .steps {
  float: left;
  margin-left: 50px;
}